

<div class="card" style="background-color: var(--lighter-green)">
    <div class="card-body">
        <h1 class="card-title" style="color: #FFF; text-align: center;">
            Agenda
        </h1>

        <p class="card-text">

            <h3>Koken voor dummies:</h3>
            <i class="fa fa-calendar"> 22-03-2021</i>

            <h3><br>Koken voor dummies:</h3>
            <i class="fa fa-calendar"> 22-03-2021</i>

            <h3><br>Koken voor dummies:</h3>
            <i class="fa fa-calendar"> 22-03-2021</i>

            <h3><br>Koken voor dummies:</h3>
            <i class="fa fa-calendar"> 22-03-2021</i>


        </p>

    </div>

</div>


