

<div class="card" style="background-color: var(--lighter-green)">
    <div class="card-body">
        <h1 class="card-title" style="text-align: center;">
            <img src="assets/img/verrukkulluk-agenda.png" style="height: 60px">
        </h1>

        <p class="card-text">

            <h3>Koken voor dummies:</h3>
            <i class="fa fa-calendar"> 22-03-2021</i>

            <h3><br>Koken voor beginners:</h3>
            <i class="fa fa-calendar"> 23-03-2021</i>

            <h3><br>Koken voor gevorderden:</h3>
            <i class="fa fa-calendar"> 24-03-2021</i>

            <h3><br>Koken voor professionals:</h3>
            <i class="fa fa-calendar"> 25-03-2021</i>


        </p>

    </div>

</div>


