{% extends "main.html.twig" %}


{% block banner %}

    {% for record in data %}
        <div style="height: 400px; overflow: hidden;">
            <img src="{{record.receptfoto}}" class="w-100">
        </div>
        <div class="carousel-text">
            <div class="text-left">
                <a href="index.php">
                    <img src="assets/img/logo-v2.png" style="width: 300px"/>
                </a>
            </div>
        </div>

    {% endfor %}

{% endblock %}



{% block content %}

    {% for record in data %}

        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img class="card-img" src="{{record.receptfoto}}">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">{{record.titel_recept}}</h5>
                        <p class="card-text">{{record.receptbeschrijving}}</p>
                        <a href="#" class="btn btn-primary">Op lijst</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-931106">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" href="#tab1" data-toggle="tab" style="border-width: 5px">
                                <h4 style="color: var(--lighter-green)">Ingrediënten</h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab2" data-toggle="tab" style="border-width: 5px">
                                <h4 style="color: var(--lighter-green)">Bereidingswijze</h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab3" data-toggle="tab" style="border-width: 5px">
                                <h4 style="color: var(--lighter-green)">Opmerkingen</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <p>
                                Alle ingrediënten
                            </p>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>
                                Hele bereidingswijze
                            </p>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <p>
                                Alle opmerkingen
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}