<div class="card" style="background-color: var(--darker-red)">
    <div class="card-body" style="color: #FFF;">
        <h1 class="card-title" style="text-align: center;">
            <img src="assets/img/verrukkulluk-login.png" style="height: 60px">
        </h1>

        <p class="card-text">

            <form class="form-horizontal">
                <fieldset>

                    <div class="form-group">
                        <label class="col-md-12" for="email">Email</label>  
                        <div class="col-md-12">
                            <input id="email" name="email" type="text" placeholder="" class="form-control input-md">
                        
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12" for="wachtwoord">Wachtwoord</label>  
                        <div class="col-md-12">
                            <input id="wachtwoord" name="wachtwoord" type="text" placeholder="" class="form-control input-md">
                        
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="login"></label>
                        <div class="col-md-4">
                            <button id="login" name="login" class="btn btn-primary button-orange" 
                                    style="margin-top: 10px;">
                                <h4>Login</h4></button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </p>

    </div>

</div>

