<html lang="nl">
<head>

    <title>Het is verrukkuluk!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <script type="text/javascript" language="javascript" src="assets/jquery/jquery.js"></script>
    <script src="assets/bootstrap/js/popper.min.js"></script>
 

</html>
<body style="overflow-x: hidden">

    <div class="container-fluid">

        <div class="row">
            {% block banner %}
            {% endblock %}
        </div>

        <div class="row g-5 p-5">
            <div class="col-lg-3 agenda-groot" style="margin-top: 33px">
                <p>{% include "agenda.html.twig" %}</p>
                <p>{% include "login.html.twig" %}</p>
            </div>

            <div class="col-lg-9">
                {%  block content %}
                {%  endblock %}
            </div>

            <div class="col-lg-3 agenda-klein" style="margin-top: 33px">
                <p>{% include "agenda.html.twig" %}</p>
                <p>{% include "login.html.twig" %}</p>
            </div>
        </div>

        <div class="row" style="background-color: var(--darker-orange); padding: 30px;">
                <div class="col">
                    <img src="assets/img/verrukkulluk-pay-off.png" style="width: 100px"/>
                    <img src="assets/img/verrukkulluk-contact.png" style="width: 150px; display: inline"/>
                    <div style="color: #FFF; margin-left: 120px">
                        <div>Roy Derix</div>
                        <div>Smulstraat 1</div>
                        <div>Lekkerkerk</div>
                        <div>info@verrukkulluk.nl</div>
                    </div>
                </div>
        </div>

    </div>

    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</body>